body{
    margin: 0;
}
@font-face {
    font-family: myFont;
    src: url('hwxh.ttf');
}
#home_body{
    width: 960px;
    height: 1000px;
    background-color: #ffffff;
    margin: auto;
}
#home_left{
    height: 100%;
    width: 170px;
    float: left;
}
#home_left_top{
    //background-color: #009cda;
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 13px;
}
#home_left_top img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
}
#home_left_body{
    width: 100%;
    height: 890px;
    margin-top: 35px;
}
#home_right{
    height: 100%;
    width: 790px;
    float: left;
}
#home_right_top{
    background-color: #ff6b87;
    width: 100%;
    height: 66px;
    padding-top: 7px;
}
#home_right_body_main,#home_right_body_alter{
    width: 730px;
    height: 1268px;
    padding-top: 30px;
    padding-left: 60px;
    border: solid 1px #dddddd;
}
#home_right_body_dianji{
    width: 730px;
    height: 1200px;
    margin-top: 45px;
    background-color: #fff;
    padding-top: 0;
    padding-left: 60px;
}
.face{
    width: 59px;
    height: 59px;
    margin-left: 60px;
    border-radius: 50%;
    float: left;
}
#user_name{
    width: 100px;
    height: 25px;
    /*background-color: mediumpurple;*/
    float: left;
    margin-left: 45px;
    padding-top: 15px;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#home_right_body_main_1{
    width: 730px;
    height: 160px;
}
#home_right_body_alter_1{
    width: 730px;
    height: 300px;
}
#home_right_body_main_2,#home_right_body_alter_2{
    width: 730px;
    height: 75px;
}
#home_right_body_main_3,#home_right_body_alter_3{
    width: 730px;
    height: 180px;
}
.table_1{
    width: 730px;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow: hidden;
    color: #333333;
}
.table_1 td{
    height: 35px;
}
#home_left_body ul{
    width: 100%;
    background-color: #009cda;
    float: left;
    padding: 0;
}
#home_left_body ul li{
    list-style: none;
}
#home_left_body ul li button{
    width: 100%;
    height: 100%;
    border: 0;
    font-weight: 500;
    background-color: #fff;
    font-size: 20px;
    line-height: 37px;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    text-align: center;
}
.redColor{
    color: #0288db;
}
.blackColor{
    color: black;
}
#menu{
    background-color: #f6f6f6;
    width: 400px;
    height: 32px;
    text-align: left;
}
#menu ul{
    margin-left: -40px;
}
#menu ul li{
    float: left;
    list-style: none;
}
#menu ul li button{
    display: block;
    border: 0;
    width: 100px;
    background-color: #f6f6f6;
    font-size: 21px;
    line-height: 28px;
    font-family: myFont;
    text-align: center;
    font-weight: 700;
    margin-left: 0;
}
#menu_main{
    margin-top: 20px;
}
#menu_table_1,#menu_table_2,#menu_table_food,#menu_table_3{
    border-collapse: collapse;
}
#menu_table_1 td,#menu_table_2 td,#menu_table_food td,#menu_table_3 td{
    border: solid 2px;
    width: 85px;
    height: 25px;
    text-align: center;
    font-family: "FontAwesome", sans-serif;
    font-size: 20px;
    font-weight: 500;
}
#menu_zb{
    height: 150px;
}
#home_right_body_alter input{
    height: 25px;
    width: 150px;
    border: solid #666666 1px;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 20px;
    overflow: hidden;
    color: #333333;
}
#input_file{
    opacity:0;
    filter:alpha(opacity=0);
    display:inline-block;
    background:#ddd;
    overflow:hidden;
    position:relative;
    text-align: right;
    z-index: 2;
    cursor: pointer;
    _text-align : left;
    _line-height : 27px;
}
#up_style{
    padding: 0;
    height: 25px;
    margin-top: -30px;
    z-index: 1;
    _display : none;
    float: left;
}
#link-btn{
    width: 55px;
    height: 25px;
    display: inline-block;
    line-height: 25px;
    text-align: center;
    background-color: #c0c0c0;
    color: #333333;
    text-decoration: none;
    margin-left: 20px;
}
#file_div{
    width: 250px;
    height: 27px;
}
#home_right_body_alter button{
    width: 100px;
    height: 30px;
    background-color: #0288db;
    color: #ffffff;
    font-family: "微软雅黑", "宋体", Arial, Helvetica, sans-serif;
    font-size: 16px;
    display: block;
    border: 0;
}
#file_path{
    background-color: #fff;
}
#home_right_body_main_3 span,.new_pwd span,.new_pwd_qr span{
    font-family: "微软雅黑", "仿宋", Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    height: 40px;
}
#home_right_body_main_3 textarea{
    float: left;
    height: 100px;
    width: 600px;
    font-size: 15px;
    color: #888888;
    text-align: left;
    font-family: "微软雅黑", "仿宋", Arial, Helvetica, sans-serif;
}
#home_right_body_alter_1 input{
    width: 200px;
    height: 20px;
    background-color: #fefefe;
    border: solid 1px #dddddd;
    float: left;
}
.new_pwd p,.new_pwd_qr p{
    font-family: "微软雅黑", "仿宋", Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #666666;
    float: left;
    margin: 3px 0 0 20px;
}
.new_pwd,.new_pwd_qr{
    height: 120px;
    width: 100%;
}
.col_video{
    height: 700px;
    width: 100%;
}

