@charset "utf-8";
body{
	margin:0;

}
.block{
	width:100%;
	height:700px;
	background-color:#EAF3F4;
}
.head{
	width:100%;
	height:40px;
	background-color:#000;
}
.container{
	width:450px;
	height:550px;
	margin-left:450px;
	margin-top:80px;
	background-color:#fff;
}
.title{
	width:450px;
	height:80px;
	text-align:center;
	font-size:24px;
	line-height:80px;
	font-family:"微软雅黑";
    background-color: #009cda;
}
.title ul{
    padding: 0;
    float: left;
    margin: 0;
}
.title ul li{
    background-color: #10ffa4;
    width: 225px;
    height: 80px;
    text-align: center;
    list-style: none;
    float: left;
}
.input{
    margin-top: 20px;
	width:450px;
	height:200px;
	}/* CSS Document */
.line{
	width:330px;
	height:1px;
	background-color:#E0E0E0;
	margin-left:60px;
}
.button{
	text-aline:center;
	background-color:#0288db;
	font-family:"微软雅黑";
	font-size:24px;
	line-height:40px;
	color:#FFF;
	width:330px;
	height:40px;
	margin-left:60px;
	border-style:none;
	margin-top:60px;

}
::-webkit-input-placeholder { /* WebKit browsers */
　　color:#999;
　　}
　　:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#999;
　　}
　　::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#999;
　　}
　　:-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#999;
　　}

